body {
    background-color: #000000;

    background: linear-gradient( #E0E2F3, #734EEB, #7CAFEB);
}

.per{
    font-size: 25px !important;
  color: #000000;
}
.border1 {
    border-left: #E0E2F3;
    /*background-color: lightgrey;;*/
}

a {
    color: #7A8080;
}

.form {
    font-size: 19px;
}

center {
    text-align: center
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.big {
    font-size: 25px;
}

/*input[type="radio"] {
  /*  -ms-transform: scale(1.5)!important; /* IE 9 
    -webkit-transform: scale(1.5)!important; /* Chrome, Safari, Opera 
/*    transform: scale(1.5) !important;*/
/*}*/

.radio{
  font-size: 30px !important;
  color: #000000;
 
}


.button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    background-color: #734EEB;
    /*box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);*/
    width: auto;
}


.container {
  position: relative;
  text-align: center;
  color: black;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*.gradienttt{*/
/*    background-color:linear-gradient(#E0E2F3, #734EEB, #7CAFEB);*/
/*}*/
