<html>
<!-- import the webpage's stylesheet -->
<!--<link rel="stylesheet" href="style.css">-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="../static/style.css">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<head>
    <title>Best Banking</title>
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Darker Grotesque', sans-serif;
            font-size: 50px;
        }
    </style>
</head>

<body>
    <div align="center" class="row">
        Find Best Bank For You.
    </div>
    <div class="row">
        <div class="col l2">

        </div>

        <div align="center" class="col l1 tooltip">
            <h5><a href="https://best-bank-app.herokuapp.com/index" style="color: #7A8080">Home</a></h5>
        </div>
        <div class="col l2">

        </div>
        <div class="col l2 center tooltip">
            <!--<h5>Our Banks</h5>-->
            <!--<h5><a href="http://www.yahoo.com">Our Banks</a></h5> -->
            <h5><a href="https://best-bank-app.herokuapp.com/ourbanks" style="color: #7A8080"> Our Banks</a></h5>
        </div>
        <div class="col l2">

        </div>

        <div class="col l1 tooltip">
            <h5><a href="https://best-bank-app.herokuapp.com/creators" style="color: #7A8080"> Creators </a></h5>
        </div>
        <div class="col l2">

        </div>
    </div>

    <div align="center" class="container">
        <img src="https://cei.org/sites/default/files/styles/main_scaled/public/ThinkstockPhotos-454347267.jpg?itok=KBAh7Gmy" width=800 height = 400>
        <div class="container">

        </div>
        <div align="center" class="row tooltip">
            <h1> Hi {{name}},</h1>
            <h2> The Best Bank for you is..</h2>
        </div>
    </div>
    <div align="center" class="container">
        <img src="https://cdn.freebiesupply.com/logos/large/2x/goldman-sachs-logo-png-transparent.png" style="width:70%;">
        <div>
            <h5>Goldman Sachs is a leading global investment banking and securities firm with three principal business lines: 
Investment Banking; 
Trading and Principal Investments; and 
Asset Management and Securities Services.
Goldman Sachs goal is to be the advisor of choice for clients and a leading participant in global financial markets. They provide services worldwide to a substantial and diversified client base, which includes corporations, financial institutions, governments and high net worth individuals. Goldman Sachs are committed to a distinctive culture and set of core values. These values are reflected in our Business Principles, which emphasize placing our clients' interests first, integrity, commitment to excellence and innovation, and teamwork.</h5>
        </div>
        </div>
         <div class="row">
        <div class="col l2">

        </div>

        <div align="center" class="col l2 tooltip">
            <h5><a href="https://www.goldmansachs.com/what-we-do/investment-banking/index.html" style="color: #7A8080">Investor Relations</a></h5>
        </div>
        <div class="col l1">

        </div>
        <div class="col l2 center tooltip">
            <!--<h5>Our Banks</h5>-->
            <h5><a href="https://www.goldmansachs.com/" style="color: #7A8080">Goldman Sachs</a></h5>
        </div>
        <div class="col l2">

        </div>

        <div class="col l1 tooltip">
            <h5><a href="https://best-bank-app.herokuapp.com/index" style="color: #7A8080"> Home </a></h5>
        </div>
        <div class="col l2">

        </div>
    </div>
    
    
<!--    <div class="container">-->
<!--  <img src="https://cei.org/sites/default/files/styles/main_scaled/public/ThinkstockPhotos-454347267.jpg?itok=KBAh7Gmy" alt="Snow" style="width:100%;">-->
  <!--<div class="bottom-left">Bottom Left</div>-->
  <!--<div class="top-left">Top Left</div>-->
  <!--<div class="top-right">Top Right</div>-->
  <!--<div class="bottom-right">Bottom Right</div>-->
<!--  <div class="centered">The Best Bank for you is...</div>-->
<!--</div>-->

 
    </div>
    </div>
    </div>
    </div>
    </div>
    <!--<h1></h1>-->

    <!--<form>-->
    <!--    <input type="text" name="nickname" value="Enter your nickname"/>-->
    <!--    <input type="submit" value="Submit"/>-->
    <!--</form>-->
</body>
<br>
<h6>we are not resposible for any incorrect information. we're just kids. sorry bro</h6>
</html>

