<!DOCTYPE html>
<html>
<!-- import the webpage's stylesheet -->
<!--<link rel="stylesheet" href="style.css">-->

<link rel="stylesheet" type="text/css" href="../static/style.css">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


<head>
    <title>Best Banking</title>
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <style>
        body {
            font-family: 'Darker Grotesque', sans-serif;
            font-size: 37px;
        }

        .form {
            font-size: 100px;
        }
    </style>
</head>

<div align="center" class="row">
    Find Best Bank For You.
</div>
<div class="row">
    <div class="col l2">

    </div>

    <div align="center" class="col l1 tooltip">
        <h5><a href="https://best-bank-app.herokuapp.com/index" style="color: #7A8080">Home</a></h5>
    </div>
    <div class="col l2">

    </div>
    <div class="col l2 center tooltip">
        <!--<h5>Our Banks</h5>-->
        <!--<h5><a href="http://www.yahoo.com">Our Banks</a></h5> -->
        <h5><a href="https://best-bank-app.herokuapp.com/ourbanks" style="color: #7A8080"> Our Banks</a></h5>
    </div>
    <div class="col l2">

    </div>

    <div class="col l1 tooltip">
        <h5><a href="https://best-bank-app.herokuapp.com/creators" style="color: #7A8080"> Creators </a></h5>
    </div>
    <div class="col l2">

    </div>
</div>

<div align="center" class="container">
    <img src="https://i.pinimg.com/originals/cf/5b/66/cf5b66eb7751db88bf305a51bb83bb0a.jpg" width=900, height=400>
    <div class="container">

    </div>
    <div class="container">
        <form method="post" action="routeToWhichPage">

            What is your name?:<br>
            <input type="text" name="name"><br> What is your age?:<br>
            <input type="number" name="age"><br>


            <p>
                What are you banking for? <br>
                <label>
        <input  class="with-gap form radio" name="bankingForWhat" value = "personal" type="radio" />
            <span class="radio"> Personal </span>
      </label>

            </p>
            <p class="radio">
                <label>
        <input  class="with-gap form radio"name="bankingForWhat" value = "stocks" type="radio"  />
        <span class = "radio">Stocks</span>
      </label>
            </p>
            <p>
                <label>
        <input   class="with-gap form radio" name="bankingForWhat" value = "corporate" type="radio"  />
        <span class = "radio">Corporate</span>
      </label>
            </p>
       <button class="btn waves-effect indigo lighten-3" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
  </button>
        </form>


    </div>





</body>


<br>
<h6>we are not resposible for any incorrect information. we're just kids. sorry bro</h6>

</html>
